doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/style.css")
        link(rel="stylesheet", href="./css/normalize.css")
        title fgfg
    body
        header.header
            .container
                .header__logo
                    img.header__img(src="", alt="")
                ul.header__nav
                    li.header__option
                        a.header__link(href="") Пункт
                    li.header__option
                        a.header__link(href="") Пункт
                    li.header__option
                        a.header__link(href="") Пункт
                    li.header__option
                        a.header__link(href="") Пункт
                    li.header__option
                        a.header__link(href="") Пункт
                    li.header__option
                        a.header__link(href="") Пункт
                    li.header__option
                        a.header__link(href="") Пункт
                    
